@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Caik</h1>
    <p>
        "Bem-vindo ao Sistema de Gestão de Posto de Gasolina! Nosso sistema foi criado para facilitar o cadastro de veículos e combustíveis, além de oferecer uma calculadora inteligente que ajuda a determinar qual tipo de combustível é mais vantajoso para você.
    </p>
    <p>Montezanos Corporation</p>
    <img src="/images/sua_imagem.jpg" alt="Auto Posto Caik" class="img-fluid" />

</div>
