@model IEnumerable<PostoDeGasolina.Models.Combustivel>

@{
    ViewData["Title"] = "Combustíveis";
}

<h2>Combustíveis</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Novo Combustível</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Preço</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var combustivel in Model)
        {
            <tr>
                <td>@combustivel.Id</td>
                <td>@combustivel.Nome</td>
                <td>@combustivel.Preco</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@combustivel.Id" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
