@model IEnumerable<PostoDeGasolina.Models.Combustivel>

@{
    ViewData["Title"] = "Combustíveis";
}

<h2>Combustíveis</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Novo Combustível</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Preco.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>
